$brown-dark: hsl(27, 47%, 13%);
$brown-reg: hsl(27, 47%, 26%);
$brown-icon: hsl(24, 28%, 52%);
$brown-light: hsl(26, 5%, 65%);

$green-reg: hsl(176, 47%, 26%);
$green-dark: hsl(176, 47%, 17%);

$blue-reg: hsl(206, 47%, 26%);
$blue-dark: hsl(206, 47%, 17%);
$blue-icon: hsl(207, 78%, 62%);

$gray-light: hsl(26, 10%, 65%);
$gray-border: hsla(0, 0%, 0%, 0.2);
$gray-sep: hsla(0, 0%, 0%, 0.06);

$orange-reg: hsl(27, 98%, 63%);